[Desktop Entry]
Type=Application
Name=TraceTab
Exec=/home/marienvanoverbeek/git/qt/tracetab/dist/main
Icon=/home/marienvanoverbeek/git/qt/tracetab/icon.png
Terminal=false
Categories=Utility;